services:
  zwavejs2mqtt:
    image: zwavejs/zwavejs2mqtt:{{ zwavejs2mqtt_docker_image_version }}
    container_name: zwavejs2mqtt
{% if zwavejs2mqtt_container_labels %}
    labels:
{% for label in zwavejs2mqtt_container_labels %}
      - {{ label }}
{% endfor %}
{% endif %}
    pull_policy: always
    restart: unless-stopped
    tty: true
    stop_signal: SIGINT
    ports:
      # - '8091:8091' # port for web interface  # Enable this line if you're not using a proxy to front the web interface
      - '3000:3000' # port for Z-Wave JS websocket server
{% if zwavejs2mqtt_network_name %}
    networks:
      - {{ zwavejs2mqtt_network_name }}
{% endif %}
{% if zwavejs2mqtt_devices %}
    devices:
{% for dev in zwavejs2mqtt_devices %}
     - "{{ dev }}"
{% endfor %}
{% endif %}
{% if _zwavejs2mqtt_docker_volumes %}
    volumes:
{% for vol in _zwavejs2mqtt_docker_volumes %}
      - {{ vol }}
{% endfor %}
{% endif %}
{% if _zwavejs2mqtt_docker_env_vars %}
    environment:
{% for k, v in _zwavejs2mqtt_docker_env_vars.items() %}
      - {{ k }}={{ v }}
{% endfor %}
{% endif %}
{% if zwavejs2mqtt_network_name %}
networks:
  {{ zwavejs2mqtt_network_name }}:
    external: true
{% endif %}
