[core]
defaultRuleSyntax = "v2"

[serversTransport]
# Allow backend connections to have insecure (self-signed) certificates
insecureSkipVerify = true

[entryPoints.http]
address = ":80"

[entryPoints.https]
address = ":443"

{% for name, portnumber in traefik_additional_entrypoints.items() %}
[entryPoints.{{ name }}]
address = ":{{ portnumber }}"

{% endfor %}
[api]

[providers.docker]
exposedByDefault = false
network = "{{ traefik_network_name }}"

[providers.file]
filename = "/etc/traefik/dynamic_conf.toml"

{% for resolver in traefik_certificate_resolvers %}
[certificatesResolvers.{{ resolver.name }}.acme]
email = "{{ resolver.email }}"
storage = "/etc/traefik/{{ resolver.storage_filename }}"
{% if resolver.ca_server is defined %}
caServer = "{{ resolver.ca_server }}"
{% endif %}
{% if resolver.cert_path is defined %}
caCertificates = "{{ resolver.cert_path }}"
{% endif %}

{% if resolver.dns_provider is defined %}
[certificatesResolvers.{{ resolver.name }}.acme.dnsChallenge]
provider = "{{ resolver.dns_provider }}"
{% endif %}
{% if resolver.use_http_callenge is defined and resolver.use_http_callenge %}
[certificatesResolvers.{{ resolver.name }}.acme.httpChallenge]
entryPoint = "http"
{% endif %}
{% endfor %}
[log]
level = "INFO"
